@import "/src/styles/globalmixins.module";
@import "/src/styles/variables.scss";

.login_form_item {
    position: relative;
    .eye_icon_box {
        position: absolute;
        z-index: 1;
        top: 17px;
        right: 10px;
        cursor: pointer;
        background-color: white;
        .eye_icon {
            font-size: 1.6rem;
        }
    }
}

.link_text {
    text-align: right;
    width: 100%;
    margin-bottom: 1rem;
    color: black !important;
    font-weight: 500;
    &:hover {
        color: $main_color !important;
        text-decoration: underline $main_color !important;
    }
}

@media screen and (max-width: 1487px) {
    .login-layout {
        .col {
            height: 80%;
        }
        .login_form {
            padding: 0 10%;
            width: 90%;
            height: 75%;
            .form_input {
                padding: 0.5rem;
            }
        }
        .login_title {
            font-size: 1.5rem;
        }
    }
}
