.create_btn {
    background-color: #f6ffed;
    color: #87d068;
    border: 1px solid #87d068;
}
.delete_btn {
    background-color: #fff2f0;
    color: #ff6365;
    border: 1px solid #ff6365;
}
.update_btn {
    background-color: #fffbe6;
    color: #fbbc3e;
    border: 1px solid #fbbc3e;
}
.reset_employye_password_btn {
    background-color: #fffbe6;
    color: #d48807;
    border: 1px solid #d48807;
}
.export_btn {
    background-color: rgba(29, 255, 251, 0.081);
    color: #2db7f5;
    border: 1px solid #2db7f5;
}
