.create_btn {
    background-color: #f6ffed;
    color: #67cc35;
    border: 1px solid #67cc35;
}
.delete_btn {
    background-color: #fff2f0;
    color: #ff6365;
    border: 1px solid #ff6365;
}
.update_btn {
    background-color: #fffbe6;
    color: #fbbc3e;
    border: 1px solid #fbbc3e;
}
.view_btn {
    background-color: #e6f4ff;
    color: #226add;
    border: 1px solid #226add;
}
.filter_btn{
    background-color: #fff0f6;
    color: #e28bbd;
    border: 1px solid #e28bbd;
}
