.view_btn {
    color: #226add;
    border: 1px solid #226add;
    &:hover {
        border: 1px solid #226add !important;
        box-shadow: #226add 0px 2px 8px 0px;
        color: #226add !important;
    }
}
.filter_btn {
    color: #e28bbd;
    border: 1px solid #e28bbd;
    &:hover {
        border: 1px solid #e28bbd !important;
        box-shadow: #e28bbd 0px 2px 8px 0px;
        color: #e28bbd !important;
    }
}
