.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo-icon {
        display: flex;
        align-items: center;
        .logo-text {
            font-weight: 700;
            color: $main_color;
            font-size: 1.563rem;
        }
    }
}
