.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
        display: flex;
        align-items: center;
        cursor: pointer;
        width: min-content;
        .logo-img{
            width: 3rem;
            height: 3rem;
        }
        .logo-text{
            font-weight: 700;
            color: $main_color;
            font-size: 1.563rem;
        }
    }
}
