@import "/src/styles/globalmixins.module";
@import "/src/styles/variables";

.header {
    @include displayHorizontally(flex, space-between, center);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding-block: 1%;
    .header_list {
        @include displayHorizontally(flex, space-between, center);
        width: 100%;
        .logo_box {
            display: flex;
            align-items: center;
            @include itemscenter(flex, center);
            .logo_text {
                font-weight: 700;
                color: $main_color;
                font-size: 1.563rem;
            }
            .logo_img {
                width: 3rem;
            }
        }

        .header_left {
            gap: 2rem;
            .dark_mode_box {
                position: relative;
                width: 2rem;
                height: 2rem;
                .switch_box {
                    position: absolute;
                    width: 100%;
                    visibility: hidden;
                    height: 100%;
                }
                .dark_mode_img {
                    cursor: pointer;
                    width: 100%;
                    height: 100%;
                }
            }
            .logout_btn_box {
                box-shadow: none;
                border: 1px solid red;
                color: red;
            }
        }
    }
}

@media screen and (max-width: 48rem) {
    .header {
        background-color: red;
        .header_list {
            .logo_box {
                .logo_img {
                    display: none;
                }
                .logo_text {
                    font-size: 1.1rem;
                }
            }
            .header_left {
                gap: 0.5rem;
                .reset_pass_box {
                    .reset_employye_password_btn {
                        background-color: red;
                    }
                }
                .reset_employye_password_btn {
                    background-color: red !important;
                    border: none !important;
                }
                .dark_mode_box {
                    width: 1.5rem;
                    height: 1.5rem;
                }
                .logout_btn_box {
                    box-shadow: none;
                    border: 1px solid red;
                    color: red;
                }
            }
        }
    }
}
@media screen and (max-width: 27rem) {
    .header {
        padding: 0 1rem !important;
        .header_list {
            .logo_box {
                .logo_text {
                    display: none;
                }
            }
            .header_left{
                width: 100%;
                justify-content: space-between;
            }
        }
    }
}
