@import "/src/styles/globalmixins.module";
@import "/src/styles/variables";

.header {
    @include displayHorizontally(flex, space-between, center);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    .logo_icon {
        display: flex;
        align-items: center;
        @include itemscenter(flex, center);
        .logo_text {
            font-weight: 700;
            color: $main_color;
            font-size: 1.563rem;
        }
    }

    .logo_icon {
        .logo_img {
            width: 3rem;
        }
    }
}

.header_list {
    .profile {
        .avatar {
            width: 2.5rem;
            border-radius: 100%;
            height: 2.5rem;
        }
        .avatar_text {
            font-weight: 600;
            font-size: 0.875rem;
        }
        .dropdown_profile_btn {
            background-color: transparent;
            border: none;
            box-shadow: none;
            outline: none;
            @include itemscenter(flex, center);
            gap: 0.625rem;
            &:hover {
                color: black;
            }
        }
    }
    .list_item {
        border: none;
        box-shadow: none;
        outline: none;
        display: inline;
    }
    .key {
        padding: 1rem;
        .key_icon {
            border: 1px solid #ffcb33;
            color: #ffcb33;
            padding: 0.5rem;
        }
    }
}
.profile-menu-item {
    @include itemscenter(flex, center);
    gap: 1rem;
}
.dropdown-btn {
    box-shadow: none;
    border-radius: 0;
    border: none;
    padding: 0;
    background-color: transparent;
    .dropdown-btn-icon {
        color: black;
    }
}
.profile_menu_item {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.dropdown_btn {
    border: none;
    box-shadow: none;
    background-color: transparent;
    padding: 0;
    &:hover {
        .dropdown-btn-icon {
            color: black;
        }
    }
    &:active {
        border: none;
        outline: none;
        box-shadow: none;
    }
}

@media screen and (max-width: 77em) {
    .header {
        .key {
            display: none;
        }
        .logo_icon {
            .logo_text {
                font-size: clamp(1.7rem, 2rem, 1rem);
            }
            .logo_img {
                width: 2rem;
            }
        }
        .header_list {
            display: flex;
            align-items: center;
            gap: 0;
            .colorpicker_text {
                display: none;
            }
            .colorpicker {
                padding: 0%;
                border: none;
            }
        }
        .list_item {
            padding: 0;
        }
        .profile {
            padding: 0;
        }
    }
}

@media screen and (max-width: 45rem) {
    .header {
        .header_list {
            .colorpicker {
                display: none;
            }
        }
    }
}