@import "/src/styles/globalmixins.module";
@import "/src/styles/variables";
.weather_forecast_card {
    background: #226add41;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    @include displayVertically(flex, column, center, center);
    user-select: none;
    .img_box {
        display: flex;
        justify-content: center;
        .forecast_img {
            width: 5rem;
            height: 5rem;
        }
    }
    .title {
        text-align: center;
        font-weight: 600;
        font-size: 2rem;
        margin: 0;
    }
    .degree {
        font-weight: 700;
        font-size: 2rem;
        color: black;
        text-align: center;
        margin: 0;
    }
    .desc {
        color: gray;
        font-size: 1rem;
        text-align: center;
        display: block;
        margin: 0;
    }
}
