@font-face {
    font-family: "Legendx-Bold";
    src: url("../shared/media/fonts/Lexend-Bold.ttf");
}

@font-face {
    font-family: "Legendx-Regular";
    src: url("../shared/media/fonts/Lexend-Regular.ttf");
}
