:where(.css-dev-only-do-not-override-zl9ks2).ant-input-outlined:hover {
    border-color: $main_color;
    box-shadow: none;
}
:where(.css-dev-only-do-not-override-zl9ks2).ant-input-outlined:focus {
    box-shadow: none;
    border-color: $main_color;
}
