@import "/src/styles/globalmixins.module";
@import "/src/styles/variables.scss";

:where(.css-dev-only-do-not-override-zl9ks2).ant-input-outlined:hover {
    border-color: $main_color;
    box-shadow: none;
}
:where(.css-dev-only-do-not-override-zl9ks2).ant-input-outlined:focus {
    box-shadow: none;
    border-color: $main_color;
}

/*------------------*/
.form_btn {
    width: 100%;
    background-color: $main_color;
    color: white;
    outline: none;
    box-shadow: none;
    border: none;
    &:hover {
        color: whitesmoke !important;
    }
}
.password_layout {
    @include displayHorizontally(flex, center, center);
    height: 100%;
    background-color: darkblue;
}
.title {
    font-size: 1rem;
    color: gray !important;
    font-weight: 600;
    margin-bottom: 2rem;
}
.password_form {
    width: 60%;
    height: 80%;
    padding: 0 10%;
    background-color: white;
    @include displayVertically(flex, column, center, center);
    border-radius: $rounded-xl;
    box-shadow: $shadow-lg;
    margin: 0 auto;
}
.form_input {
    background-color: $main_bg_color;
    width: 100%;
    padding: 1rem;
    &:focus,
    & :hover {
        border: $main_color 1px solid;
        outline: none;
        box-shadow: none;
    }
}
.form_label {
    width: 100%;
    font-weight: 500;
}
/*_-_-_-_-_-_-__-_-_-_-_-_-__-_-_-_-_-_-__-_-_-_-_-_-__-_-_-_-_-_-_*/
.btns_placement {
    text-align: right;
}

.table {
    width: 100%;
}

.err_msg {
    font-weight: 700;
    color: #c0090c;
    display: block;
}

@media screen and (max-width: 50em) {
    .password_layout {
        .password_form {
            width: 80%;
            height: 95%;
        }
    }
}
@media screen and (max-width: 30em) {
    .password_layout {
        .password_form {
            height: 100%;
            width: 95%;
        }
    }
}
@media screen and (max-width: 20em) {
    .password_layout {
        .password_form {
            width: 95%;
            height: 95%;
        }
    }
}
