.home_layout {
    .icon_size {
        font-size: 2rem;
    }
    .statistic_text {
        font-weight: 700;
    }
    .statistic_purple {
        span {
            color: rgb(169, 13, 169);
        }
    }
    .statistic_green {
        span {
            color: rgb(13, 169, 117);
        }
    }
    .statistic_blue {
        span {
            color: rgb(42, 119, 221);
        }
    }
    .statistic_orange {
        span {
            color: rgb(245, 183, 89);
        }
    }
}
