.stepper_title {
    color: white !important;
}
.stpper_header {
    display: flex;
    width: 80%;
    
    div {
        color: white !important;
        font-weight: 600;
    }
}

.forgot_password_Form{
    width: 55%;
}