.welcome_card {
    .welcome_avatar_box {
        width: 150px;
        height: auto;
        margin: 0 auto;
    }
    .welcome_text {
        font-weight: 900;
        text-align: center;
        display: block;
        font-size: 1.5rem;
    }
}
