*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100%;
  overflow-x: hidden;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Times New Roman', Times, serif;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  text-decoration: none;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:where(.css-dev-only-do-not-override-zl9ks2).ant-input-outlined:hover {
  border-color: #8833ff;
  box-shadow: none;
}

:where(.css-dev-only-do-not-override-zl9ks2).ant-input-outlined:focus {
  box-shadow: none;
  border-color: #8833ff;
}

.container {
  background-color: #f4f4f4;
  width: 100vw;
  height: 100vh;
}

.main-content {
  padding: 2%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo-icon {
  display: flex;
  align-items: center;
}
.header .logo-icon .logo-text {
  font-weight: 700;
  color: #8833ff;
  font-size: 1.563rem;
}

.search-form {
  width: 30%;
  display: flex;
  position: relative;
}
.search-form .search-item {
  width: 100%;
  height: 100%;
  border-radius: 0.75rem;
}
.search-form .search-item .search-input {
  background-color: #f4f4f4;
}
.search-form .search-btn {
  position: absolute;
  right: 0;
  background-color: transparent;
  border: none;
  box-shadow: none;
  outline: none;
  color: black;
}
.search-form .search-btn:hover .search-icon {
  color: #8833ff;
  transition: all ease-in-out 0.5s;
}

.header-list .profile .avatar {
  width: 2.5rem;
  border-radius: 100%;
  height: 2.5rem;
}
.header-list .profile .avatar-text {
  font-weight: 600;
  font-size: 0.875rem;
}
.header-list .profile .dropdown-profile-btn {
  background-color: transparent;
  border: none;
  box-shadow: none;
  outline: none;
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.header-list .profile .dropdown-profile-btn:hover {
  color: black;
}
.header-list .list-item {
  border: none;
  box-shadow: none;
  outline: none;
  display: inline;
}
.header-list .key {
  padding: 1rem;
}
.header-list .key .key-icon {
  border: 1px solid #ffcb33;
  color: #ffcb33;
  border-radius: 0.375rem;
  padding: 0.5rem;
}

.profile-menu-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dropdown-btn {
  box-shadow: none;
  border-radius: 0;
  border: none;
  padding: 0;
  background-color: transparent;
}
.dropdown-btn .dropdown-btn-icon {
  color: black;
}

.sidebar-menu .sidebar-menu-link {
  font-size: 1rem;
  font-weight: 500;
}

.sidebar-active-link {
  background-color: #8833ff;
  width: 100%;
}

.login-layout {
  height: 100%;
  background: #673ab7;
  background: -webkit-linear-gradient(to right, #512da8, #673ab7);
  background: linear-gradient(to right, #512da8, #673ab7);
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-layout .login-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
.login-layout .login-form {
  width: 60%;
  display: flex;
  height: 80%;
  padding: 0 10%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 0.75rem;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}
.login-layout .login-form .form-label {
  width: 100%;
}
.login-layout .login-form .form-input {
  background-color: #f4f4f4;
  width: 100%;
  padding: 1rem;
}
.login-layout .login-form .form-input:focus,
.login-layout .login-form .form-input :hover {
  border: #8833ff 1px solid;
  outline: none;
  box-shadow: none;
}
.login-layout .login-form .login-btn {
  width: 100%;
  background-color: #8833ff;
  color: white;
  outline: none;
  box-shadow: none;
  border: none;
}

@media screen and (max-width: 1487px) {
  .login-layout .col {
    height: 80%;
  }
  .login-layout .login-form {
    padding: 0 10%;
    width: 90%;
    height: 75%;
  }
  .login-layout .login-form .form-input {
    padding: 0.5rem;
  }
  .login-layout .login-title {
    font-size: 1.5rem;
  }
}
.weather-forecast-card {
  background: rgba(197, 12, 243, 0.26);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
}
.weather-forecast-card .img-box {
  display: flex;
  justify-content: center;
}
.weather-forecast-card .title {
  text-align: center;
  font-weight: 600;
  font-size: 2rem;
  margin: 0;
}
.weather-forecast-card .degree {
  font-weight: 700;
  font-size: 2rem;
  color: black;
  text-align: center;
  margin: 0;
}
.weather-forecast-card .desc {
  color: gray;
  font-size: 1rem;
  text-align: center;
  display: block;
  margin: 0;
}
